.v-slide-fade-down-enter-active {
  transition: all .3s ease;
}

.v-slide-fade-down-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.v-slide-fade-down-enter, .v-slide-fade-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
